/* Generally change body */
body
{
	font-family: 'Noto Sans', sans-serif;
	background-color: #32302f;
	color: #efefe1;
	position: relative;
	margin: 0 auto;
	width: 80%;
}

/* Generally color other things too */
a,footer,img
{
	color: #efefe1;
}

/* Make a tag change color when hovered */
a:hover {
	/* For other browsers */
	-o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* Make the color fade in */
  transition:.4s;
	color: #B65fcf;
}

/* Make h3 tag change color when hovered */
h3:hover {
	/* For other browsers */
	-o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* Make the color fade in */
  transition:.4s;
	color: #B65fcf;
}

/* Navigation unordered list item formatting */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;
}

/* Navigation unordered formatting */
nav ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: inline;
}

.home {
	margin-left: 30px;
}

/* Generally move all sections */
.container {
	margin: auto;
  width: 65%;
	clear: both;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Montserrat', sans-serif;
}

/* About */
.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.abouttext {
	margin-left: 10%;
}

/* Skills lists */
.skill-list {
	float:left ;
	/* Currently formatting issues when window size changes, TO FIX; Make more centered*/
	margin-left: 10%;


}

/* Resume */
.resume{
	display: block;
	margin-left: 10%;
	clear: both;
}

.resumetext{
	margin-left: 10%;
}

/* Courses */
.coursetext{
	margin-left: 10%;
}

.progcourses {
	float:left ;
	margin-left: 2%;
}

/* Contact icons */
.ikon{
	margin-right: 4px;
	text-decoration: none;
}

/* Footer */
.footer{
	padding-top:  2rem;
	text-align: center;
}

.footer_text{
	font-size: var(--smaller-font-size);
	text-align: center;
	color: var(--text-color-light);
	margin-top: var(--mb-3);
}


